<section class="vision-mission"  data-reveal>
  <div class="container">
    
    <!-- Vision -->
    <div class="box">
      <h2 class="title">{{ 'VISION.VISION_TITLE' | translate }}</h2>
      <div class="item">
        <div class="number">01</div>
        <p>{{ 'VISION.VISION_DESC' | translate }}</p>
      </div>
      <div class="item">
        <div class="number">02</div>
        <p>{{ 'VISION.VISION_DESC2' | translate }}</p>
      </div>
    </div>
    
    <!-- Mission -->
    <div class="box">
      <h2 class="title">{{ 'VISION.MISSION_TITLE' | translate }}</h2>
      <div class="item">
        <div class="number">01</div>
        <p>{{ 'VISION.MISSION_DESC' | translate }}</p>
      </div>
      <div class="item">
        <div class="number">02</div>
        <p>{{ 'VISION.MISSION_DESC2' | translate }}</p>
      </div>
    </div>
    
  </div>
</section>